body {
  background: #F8F9FA;
}
#login {
  background-color: #EFEFEF;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#login > .grid {
  height: 100%;
}
#login .column {
  max-width: 450px;
}
#header {
  background: #fff;
  padding: 15px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #EFEFEF;
}
#header .menu {
  margin: 0;
}
#projects .dmt.box,
#project-detail .dmt.box,
.dmt.box {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #F7F7F7;
  box-shadow: none;
}
#projects .ui.divided.horizontal.list {
  width: 100%;
}
#projects .ui.divided.horizontal.list .item {
  width: 100%;
  padding-left: 0;
  border-left: 0;
}
#projects h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.page-header {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #EFEFEF;
}
#project-detail .ui.items {
  margin: 0;
}
#project-detail .ui.progress {
  margin-bottom: 300msem;
}
#zone .ui.list,
#project-detail .ui.list {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
#zone .weather .item,
#project-detail .weather .item {
  cursor: pointer;
  text-align: center;
}
#zone .weather .item:hover,
#project-detail .weather .item:hover {
  background: #F8F9FA;
}
#zone .weather .item .value,
#project-detail .weather .item .value,
#zone .weather .item .label,
#project-detail .weather .item .label {
  font-weight: 300;
}
#zone .weather .item.active .value,
#project-detail .weather .item.active .value,
#zone .weather .item.active .label,
#project-detail .weather .item.active .label {
  color: #00a885;
}
#zone .dmt.box,
#project-detail .dmt.box {
  margin-bottom: 20px;
}
#zone .ui.menu {
  margin-bottom: 40px;
}
#zone .ui.header.icon {
  width: 100%;
  margin-bottom: 100px;
}
#zone .ui.vertical.menu {
  width: 100%;
}
#zone .ui.image.cover {
  margin-bottom: 20px;
}
#zone .ui.cards > .card {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #F7F7F7;
  box-shadow: none;
  padding: 0;
  border-color: #F1F1F1;
}
#zone .ui.cards > .card p {
  margin-bottom: 0;
  width: 50%;
  float: left;
}
#zone .ui.cards > .card p b {
  font-weight: normal;
}
#zone .ui.cards > .card p:last-child {
  text-align: right;
}
canvas {
  min-height: 200px;
  max-height: 200px;
}
.logo {
  width: 40px;
  height: 40px;
  background: url('../img/logo.svg') center center no-repeat;
  background-size: contain;
}
.logo.large {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.materials .up {
  color: green;
}
.materials .down {
  color: red;
}
/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #00a885;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #00a885;
  /* Size of your points */
  stroke-width: 8px;
  /* Make your points appear as squares */
  /* stroke-linecap: square;*/
}
@media (max-width: 767px) {
  .ui.breadcrumb span > * {
    margin-bottom: 10px !important;
  }
}

.online-status {
  margin-top: 10px;
  width: 100%;
  text-align: right;
}