body {
    background: #F8F9FA;
}

[ui-view] {

}

#login {
    background-color: #EFEFEF;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > .grid {
        height: 100%;
    }

    .column {
        max-width: 450px;
    }
}

#header {
    background: #fff;
    padding: 15px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #EFEFEF;

    .menu {
        margin: 0;

        .item {

        }
    }
}

.border-box() {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #F7F7F7;
    box-shadow: none;
}

#projects .dmt.box,
#project-detail .dmt.box,
.dmt.box {
    .border-box();
}

#projects {
    .ui.divided.horizontal.list {
        width: 100%;

        .item {
            width: 100%;
            padding-left: 0;
            border-left: 0;
        }
    }

    h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.page-header {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EFEFEF;
}

#project-detail {
    .ui.items {
        margin: 0;
    }

    .ui.progress {
        margin-bottom: 300msem;
    }

}

#zone,
#project-detail {
    .ui.list {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .weather {
        .item {
            // margin: 0;
            cursor: pointer;
            text-align: center;
            &:hover {
                background: #F8F9FA;
            }

            .value,
            .label {
                font-weight: 300;
            }

            &.active {
                .value,
                .label {
                    color: #00a885;
                }
            }
        }
    }

    .dmt.box {
        margin-bottom: 20px;
    }
}

#zone {
    .ui.horizontal.list {
        .item {
            // width: 12.5%;
        }
    }

    .ui.menu {
        margin-bottom: 40px;

    }

    .ui.header.icon {
        width: 100%;
        margin-bottom: 100px;
    }

    .ui.vertical.menu {
        width: 100%;
    }

    .ui.image.cover {
        margin-bottom: 20px;
    }

    .ui.cards > .card {
        .border-box();
        padding: 0;
        border-color: #F1F1F1;

        p {
            margin-bottom: 0;
            width: 50%;
            float: left;
            b {
                font-weight: normal;
            }

            &:last-child {
                text-align: right
            }
        }
    }
}

canvas{
    min-height: 200px;
    max-height: 200px;
}

.logo {
    width: 40px;
    height: 40px;
    background: url('../img/logo.svg') center center no-repeat;
    background-size: contain;

    &.large {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.materials {
  .up {
    color: green;
  }

  .down {
    color: red;
  }
}

/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: #00a885;
    /* Control the thikness of your lines */
    stroke-width: 2px;
    /* Create a dashed line with a pattern */
    /* stroke-dasharray: 10px 20px; */
}

.ct-series-a .ct-point {
    /* Colour of your points */
    stroke: #00a885;
    /* Size of your points */
    stroke-width: 8px;
    /* Make your points appear as squares */
    /* stroke-linecap: square;*/
}


@media (max-width: 767px) {
    canvas {
        // max-height: 300px;
    }
    .ui.breadcrumb span > * {
        margin-bottom: 10px !important;
    }
}
