<div id="project-detail">
    <div class="ui grid stackable">
        <div class="eight wide column">
            <h4 class="ui header">
                <i class="ion-ios-speedometer-outline icon"></i>
                <div class="content">Thông tin chung</div>
            </h4>
            <div class="dmt box">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large ion-ios-location-outline middle aligned icon"></i>
                        <div class="content">
                            <div class="description">Địa điểm</div>
                            <div class="header">Cầu Đất, Lâm Đồng</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large ion-ios-people-outline middle aligned icon"></i>
                        <div class="content">
                            <div class="description">Nhân công</div>
                            <div class="header">61 người</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large ion-ios-keypad-outline middle aligned icon"></i>
                        <div class="content">
                            <div class="description">Số lượng Zone</div>
                            <div class="header">3 zone</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large ion-ios-crop middle aligned icon"></i>
                        <div class="content">
                            <div class="description">Diện tích</div>
                            <div class="header">220 ha</div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="ui header">
                <i class="ion-ios-partlysunny-outline icon"></i>
                <div class="content">Dự báo thời tiết</div>
            </h4>
            <div class="dmt box weather">
                <div class="ui list grid">
                    <div class="item four wide computer eight wide mobile column" ng-repeat="(key, value) in vm.data.project.weathers.series" ng-click="vm.data.project.weathers.active=key" ng-class="{active:vm.data.project.weathers.active==key}">
                        <div class="ui statistic small {{vm.data.project.weathers.colors[key]}}">
                            <div class="value">
                            <!-- <i class="ion-thermometer icon"></i> -->
                                {{vm.data.project.weathers.data[key][0]}}
                            </div>
                            <div class="label">{{value[0]}} ({{vm.data.project.weathers.units[key]}})</div>
                        </div>
                    </div>
                </div>

                <chartist class="ct-chart" chartist-data="{series: [vm.data.project.weathers.data[vm.data.project.weathers.active]], labels: vm.data.project.weathers.labels}" chartist-chart-type="Line" chartist-chart-options="vm.data.project.weathers.options"></chartist>

                <!-- <canvas id="line" class="chart chart-line" data="[vm.data.project.weathers.data[vm.data.project.weathers.active]]"
                  labels="vm.data.project.weathers.labels" legend="true" series="vm.data.project.weathers.series[vm.data.project.weathers.active]" options="vm.data.project.weathers.options" colours="vm.data.project.weathers.colours[vm.data.project.weathers.active]"
                  click="">
                </canvas> -->
            </div>
        </div>
        <div class="eight wide column">
            <h4 class="ui header">
                <i class="ion-ios-keypad-outline icon"></i>
                <div class="content">Zones</div>
            </h4>
            <div class="ui items">
                <div class="item dmt box" ng-repeat="zone in vm.data.project.zones" ng-init="url = '#/project/' + vm.data.project.id + '/' + (vm.data.project.name | slugify) + '/zone/' + zone.id + '/' + (zone.name | slugify) + '.html'">
                    <a href="{{url}}" class="ui tiny image rounded">
                        <img src="{{zone.cover}}">
                    </a>
                    <div class="content">
                        <div class="header">
                            <a href="{{url}}">
                            <span class="ui teal circular label">{{$index + 1}}</span> {{zone.name}}
                            </a>
                        </div>
                        <div class="ui teal progress tiny" data-percent="{{zone.progress}}">
                              <div class="bar" style="transition-duration: 300ms; width: {{zone.progress}}%;"></div>
                              <div class="label">{{zone.progress}}% </div>
                        </div>

                        <div class="ui relaxed list grid stackable">
                            <div class="item column eight wide computer sixteen wide tablet">
                                <div class="content">
                                    <div class="description">{{zone.id == 999 ? 'Lần hái trước' : 'Ngày trồng' }}</div>
                                    <div class="header">{{zone.start | date: 'dd/MM/yyyy'}}</div>
                                </div>
                            </div>
                            <div class="item column eight wide computer sixteen wide tablet">
                                <div class="content">
                                    <div class="description">{{zone.id == 999 ? 'Lần hái tiếp theo' : 'Ngày dự kiến thu hoạch'}}</div>
                                    <div class="header">{{zone.end | date: 'dd/MM/yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="extra">
                            <a href="{{url}}" class="ui right labeled icon button right floated positive">
                                <i class="right arrow icon"></i>
                                Chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui dimmer modals page transition">
        <div class="ui standard small modal transition visible active scrolling">
            <div class="header">Tạo dự án</div>
            <div class="content">
                <form class="ui form">
                    <div class="field">
                        <label>Tên dự án</label>
                        <input type="text" name="first-name" placeholder="Tên dự án">
                    </div>
                    <div class="field">
                        <label>Địa chỉ</label>
                        <input type="text" name="last-name" placeholder="Địa chỉ">
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui negative button">
                    Huỷ
                </div>
                <div class="ui positive right labeled icon button">
                    Tạo
                    <i class="plus icon"></i>
                </div>
            </div>
        </div>
    </div>

</div>

